[Unit]
Description=lowkeytomcat
After=network.target mysqld.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/appstore/programfiles/init/lowkeytomcat start
ExecStop=/appstore/programfiles/init/lowkeytomcat stop

[Install]
WantedBy=multi-user.target
